@import "~@metmuseum/marble/src/base/base";

.gs-result {
	border: 1px solid $color-grey-100;
	border-radius: 4px;
	display: flex;
	flex-basis: 100%;
	flex-direction: column;
	overflow: hidden;
	text-decoration: none;
	transition: all 0.3s;

	@media (min-width: $bp-gs) {
		flex-direction: row;;
	}

	&:hover,
	&:focus {
		background-color: $color-white-050;
		box-shadow: $shadow-passive;
		outline: none;
	}

	&.past-exhibition { /* stylelint-disable */
		background-color: $color-grey-500;

		.darkmode & {
			background-color: $color-black;
		}
	} /* stylelint-enable */

	&.best-bet {
		background-color: $color-grey-200;
		//color: $color-white;

		.darkmode & { /* stylelint-disable */
			background-color: $color-white-050;
			color: $color-grey-900;
		} /* stylelint-enable */
	}
	
	.darkmode & {
		background-color: $color-grey-800;
		border: 1px solid $color-grey-800;
		color: $color-white;
	}
}

.gs-result__descriptor {
	color: $color-grey-800;
	font-size: $textsize-xs;
	font-weight: 600;
	line-height: 1;
	margin-bottom: $spacing-micro;
	text-transform: uppercase;
	
	.darkmode & {
		color: $color-white;
	}
}

.best-bet__title {
	.darkmode & {
		color: $color-grey-900;
	}
}

.gs-result__image-wrapper {
	align-items: center;
	background: $color-grey-600;
	display: flex;
	flex-grow: 0;
	flex-shrink: 0;
	justify-content: center;
	width: 100%;

	@media (min-width: 550px) {
		max-width: 250px;
		width: 50%;
	}
}

.gs-result__image {
	height: auto;
	max-width: 100%;
	width: 100%;

	&[src="https://www.metmuseum.org/assets/icons/ico-no-image.svg"] {
		filter: brightness(0.8);
	}


	.Primer:hover &,
	.Primer:focus & {
		animation-direction: alternate;
		animation-duration: 5s;
		animation-iteration-count: infinite;
		animation-name: colorShift;
		animation-timing-function: ease;
	}
}

.gs-result__body {
	flex-basis: 100%;
	padding: $spacing-xxs;
}

.gs-result__result-title {
	@include typography-h3();
	display: inline-block;
	line-height: 1;
	margin-bottom: $spacing-micro;
	text-decoration: none;

	.gs-result:hover &,
	.gs-result:focus & {
		text-decoration: underline;
	}
}

.gs-result__titles {
	margin-bottom: $spacing-micro;
}

.gs-results__dates {
	font-size: $textsize-xs;
	font-weight: 600;
}

.gs-result__result-teaser {
	font-size: $textsize-xs;
	line-height: 1.333;

	br {
		content: "";
		display: block;
		margin: $spacing-micro;
	}

	br + br {
		display: none;
	}

	p {
		margin: 0 0 $spacing-micro;
	}
}

.gs-result__data-container {
	margin-bottom: $spacing-micro;
}

.gs-result__data {
	line-height: 1.1;

	a:hover,
	a:focus {
		background-color: $color-focus-background;
	}
}

.gs-result__data-title {
	font-size: $textsize-xs;
	font-weight: 600;
	margin-right: 4px;
}

.gs-result__data-value {
	font-size: $textsize-xs;
}

@keyframes colorShift {
	0% {
		filter: brightness(1);
	}

	33% {
		filter: brightness(1.1);
	}

	66% {
		filter: brightness(0.9);
	}
}
