.cs__page-controls {
	align-items: center;
	display: flex;
	grid-column-gap: $spacing-micro;
	justify-content: center;
	margin-bottom: $spacing-xxs;
}

.pagination-button {
	@include button-reset();
	border: 1px solid currentColor;
	height: $spacing-s;
	width: $spacing-s;

	&[disabled] {
		border: 0;
		opacity: 0.7;
	}

	&:focus {
		background-color: $color-focus-background;
		outline-color: $color-focus-state;
	}
}

.button-spacer {
	height: $spacing-s;
	opacity: 0;
	width: $spacing-s;
}

.pagination-button--back,
.pagination-button--forward {
	font-weight: 600;
}
