$bp-gs: 550px;
@import "~@metmuseum/marble/src/base/base";
@import "~@metmuseum/marble/src/global/accessibility";
@import "./fonts/font-declarations";
@import "./components/result-object/result-object";
@import "./components/search-bar/search-bar";

* {
	box-sizing: border-box;
}

 /* stylelint-disable */
html,
body,
#app,
.general-search {
	min-height: 100%;
}
 /* stylelint-enable */

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
	padding: 0;
}

a {
	color: inherit;

	&:visited,
	&:hover {
		color: inherit;
	}
}

h1,
h2,
h3,
h4 {
	margin: 0 0 0.5em;
}

.button {
	@include button-base();
	align-items: center;
	display: flex;
	height: 40px;
	justify-content: center;
	line-height: 0;
	min-width: 100px;
	padding: 0 $spacing-xxs;
	white-space: nowrap;
}

.button--primary {
	@include primary-button();
	@include primary-button--filled();
}

.button--ghost {
	@include primary-button();
	@include primary-button--ghost-dark();
}

.button--secondary {
	@include secondary-button();
	@include secondary-button--ghost-dark();
}

.button--tertiary {
	@include tertiary-button();
	align-self: center;
}

.general-search {
	@include typography-body-long();
	max-width: 100%;
	padding: $spacing-xs $spacing-component-margin;

	&.darkmode {
		background-color: $color-grey-900;
		color: $color-white;
	}
}

.gs__title {
	@include typography-h1-expressive();
	display: block;
	//Almost $metserif but removing Georiga as fallback
	font-family: "MetSerif", "Times New Roman", Times, serif;
	font-size: $textsize-xl;
	line-height: 1.2;
	margin-bottom: 0.5em;
	min-height: 1.2em;
	overflow: hidden;
	white-space: nowrap;
}

.gs__sub-title {
	line-height: 1em;
	margin-bottom: 0.5em;
	min-height: 1em;
}

.gs__section-title {
	font-size: $textsize-s;
	font-weight: 600;
}

.gs__search {
	display: flex;
	grid-column-gap: $spacing-xxs;
	grid-row-gap: $spacing-xxs;
	margin-bottom: $spacing-xxs;
}

.gs-select__wrapper {
	border: 2px solid currentColor;
	border-radius: 50px;
	padding-right: $spacing-micro;

	&:focus-within {
		background-color: $color-focus-background;
		border-color: $color-focus-state;
	}
}

.gs-select {
	appearance: none;
	background: transparent;
	border: 0;
	color: currentColor;
	cursor: pointer;
	font-weight: 600;
	height: 100%;
	padding: $spacing-micro;
	text-overflow: ellipsis;
	width: 100%;

	&:focus {
		outline: 0;
	}
}

.gs__results {
	display: grid;
	flex-wrap: wrap;
	grid-gap: $spacing-xxs;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	margin-bottom: $spacing-m;
	max-width: 100%;
	min-height: 50vh;
}

.gs__no-results {
	font-size: $textsize-m;
	font-weight: 600;
	padding: $spacing-m;
	text-align: center;
}

.gs__facets {
	display: flex;
	flex-wrap: wrap;
	grid-column-gap: 4px;
	grid-row-gap: 4px;
	margin-bottom: $spacing-micro;
	margin-left: -$spacing-component-margin;
	margin-right: -$spacing-component-margin;
	overflow: auto;
	padding-bottom: $spacing-micro;
	@media (min-width: $bp-gs) {
		border-bottom: 1px solid $color-grey-200;
		margin: 0 0 $spacing-xs;
		padding-bottom: $spacing-xs;
	}
}

.gs__facets-wrapper {
	display: flex;
	grid-column-gap: $spacing-micro;
	margin-left: $spacing-component-margin;
	margin-right: $spacing-component-margin;
	min-height: calc(1em + 6px); //height of text + padding + border
	white-space: nowrap;
	@media (min-width: $bp-gs) {
		flex-wrap: wrap;
		margin: 0;
		white-space: normal;
	}
}

.gs__facets::-webkit-scrollbar {
	background: $color-white;
	border-radius: 10px;
	height: 5px;
	width: 5px;

	.darkmode & {
		background-color: $color-grey-900;
	}
}

.gs__facets::-webkit-scrollbar-thumb {
	background-color: $color-grey-700;
	border-left: $spacing-component-margin solid $color-white;
	border-radius: 50px;
	border-right: $spacing-component-margin solid $color-white;
	width: calc(200px + 2* #{$spacing-component-margin});

	.darkmode & {
		background-color: $color-white;
		border-color: $color-grey-900;
	}
}

.gs__facet {
	@include button-reset();
	border-bottom: 2px solid transparent;
	cursor: pointer;
	font-weight: 600;
	padding: 4px;

	&:disabled {
		border-bottom: 2px solid currentColor;
	}

	&:hover,
	&:focus {
		border-color: currentColor;
		color: $color-focus-state;
		opacity: 1;
		outline: none;

		.darkmode & { /* stylelint-disable */
			background-color: $color-grey-200;
			color: $color-grey-900;
		
		} /* stylelint-enable */
	}
}

.gs__pagination {
	display: flex;
	justify-content: center;
	padding: $spacing-micro;
}

.gs__load-button {
	@include button-reset();
	border: 1px solid currentColor;
	font-size: $textsize-xs;
	font-weight: 600;
	padding: $spacing-micro;

	&:focus {
		background-color: $color-focus-background;
		outline-color: $color-focus-state;
	}
}

.gs__notification {
	background-color: $color-grey-900;
	border-radius: 4px;
	color: $color-white;
	font-size: $textsize-xs;
	margin-bottom: $spacing-xxs;
	padding: $spacing-xxs;
	transition: padding-top 0.17s ease-out, padding-bottom 0.17s ease-out;

	&:empty {
		padding: 0;
	}

	.darkmode & {
		background-color: $color-white-050;
		color: $color-grey-900;
	}
}
