@import "~@metmuseum/marble/src/base/base";
@import "~@metmuseum/marble/src/global/accessibility";
@import "./fonts/font-declarations";
@import "./components/result-object/result-object";
@import "./components/search-bar/search-bar";


$bp-small-screen: 800px;

* {
	box-sizing: border-box;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
	padding: 0;
}

a {
	color: inherit;

	&:visited,
	&:hover {
		color: inherit;
	}
}

h1,
h2,
h3,
h4 {
	margin: 0 0 0.5em;
}

.button {
	@include button-base();
	align-items: center;
	display: flex;
	height: 40px;
	justify-content: center;
	line-height: 0;
	min-width: 100px;
	padding: 0 $spacing-xxs;
	white-space: nowrap;
}

.button--primary {
	@include primary-button();
	@include primary-button--filled();
}

.button--ghost {
	@include primary-button();
	@include primary-button--ghost-dark();
}

.button--secondary {
	@include secondary-button();
	@include secondary-button--ghost-dark();
}

.button--tertiary {
	@include tertiary-button();
	align-self: center;
}

.general-search {
	@include typography-body-long();
	max-width: 100%;
	padding: $spacing-xs $spacing-component-margin;

	&.darkmode {
		background-color: $color-grey-900;
		color: $color-white;
	}
}

.gs__title {
	@include typography-h1-expressive();
	display: block;
	//Almost $metserif but removing Georiga as fallback
	font-family: "MetSerif", "Times New Roman", Times, serif;
	font-size: $textsize-xl;
	margin-bottom: 0.5em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.gs__sub-title {
	line-height: 1em;
	margin-bottom: 0.5em;
	min-height: 1em;
}

.gs__section-title {
	font-size: $textsize-s;
	font-weight: 600;
}

.gs__search {
	display: flex;
	grid-column-gap: $spacing-xxs;
	grid-row-gap: $spacing-xxs;
	margin-bottom: $spacing-xxs;
}

.gs-select__wrapper {
	border: 2px solid currentColor;
	border-radius: 50px;
	padding-right: $spacing-micro;

	&:focus-within {
		background-color: $color-focus-background;
		border-color: $color-focus-state;
	}
}

.gs-select {
	appearance: none;
	background: transparent;
	border: 0;
	color: currentColor;
	cursor: pointer;
	font-weight: 600;
	height: 100%;
	padding: $spacing-micro;
	text-overflow: ellipsis;
	width: 100%;

	&:focus {
		outline: 0;
	}
}

.gs__results {
	display: flex;
	flex-wrap: wrap;
	grid-row-gap: $spacing-xxs;
	margin-bottom: $spacing-m;
	max-width: 100%;
	min-height: 50vh;
}

.gs__no-results {
	font-size: $textsize-m;
	font-weight: 600;
	padding: $spacing-m;
	text-align: center;
}

.gs__facets {
	border-bottom: 1px solid currentColor;
	display: flex;
	flex-wrap: wrap;
	grid-column-gap: 4px;
	grid-row-gap: 4px;
	margin-bottom: $spacing-xs;
	padding-bottom: $spacing-xs;
}


.gs__facet {
	@include button-reset();
	cursor: pointer;
	font-weight: 600;
	opacity: 0.5;
	padding: 4px;

	&:disabled {
		opacity: 1;
	}

	&:hover,
	&:focus {
		background-color: $color-focus-background;
		color: $color-focus-state;
		opacity: 1;
		outline: none;
	}

	.darkmode & { /* stylelint-disable */
		&:hover,
		&:focus { 
			background-color: $color-white-opaque-30;
			color: $color-white;
		}
	} /* stylelint-enable */
}

.gs__pagination {
	display: flex;
	justify-content: center;
	padding: $spacing-micro;
}

.gs__load-button {
	@include button-reset();
	border: 1px solid currentColor;
	font-size: $textsize-xs;
	font-weight: 600;
	padding: $spacing-micro;

	&:focus {
		background-color: $color-focus-background;
		outline-color: $color-focus-state;
	}
}

